.allRoomsAndSearchCon{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchRoomsInputCon{
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.searchIconSvg{
    position:absolute;
    left: 7px;
    margin-top: 7px;
    fill: var(--textcolor1);
}
.searchRoomsInputCon input{
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 0px;
    border: 0px;
    padding-left: 40px;
    font-size: 1rem;
    margin: 0px;
    border-radius: 6px;
    outline-width: 0;
    background-color: var(--compcolor1);
    color: var(--textcolor1);
    font-weight: bold;
}

.createRoomHeaderBtnCon{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.createRoomHeaderCon{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.createRoomHeaderCon h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: var(--textcolor1);
}
.createRoomHeaderCon h4{
    margin: 0px;
    font-size: 1.3rem;
    font-family: sans-serif;
    color: var(--textcolor1);
}

.createRoomHeaderBtnCon button{
    height: 50px;
    width: 140px;
    border: 0px;
    border-radius: 6px;
    font-size: 1rem;
    background-color: var(--complimentcolor);
    font-weight: bold;
    color:var(--textcolor2);
}
.createRoomHeaderBtnCon button:hover{
    opacity: .7;
}
.searchRoomCon{
    width: 90%;
    max-width: 600px;
    height: 70px;
    background-color: var(--compcolor1);
    border-radius: 6px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.searchRoomCon input{
    width: 60%;
    max-width: 275px;
    height: 35px;
    border-radius: 7px;
    outline-width: 0;
    font-size: 1.1rem;
    background-color: var(--compcolor2);
    font-weight: bold;
    border: 0px;
    color: var(--textcolor1);
}
.searchRoomCon button{
    width: 25%;
    border: 0px;
    max-width: 100px;
    height: 45px;
    border-radius: 6px;
    font-size: 1rem;
    background-color: var(--complimentcolor);
    font-weight: bold;
    color:var(--textcolor2);
}
.searchRoomCon button:hover{
    opacity: .7;
}
.loadingRoomsCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/*Shrink text when width get smaller*/
@media only screen and (max-width: 775px) {
    .createRoomHeaderCon h2{
         font-size: 1rem;
         
    }
    .createRoomHeaderCon h4{
         font-size: .9rem;
    }
    .createRoomHeaderBtnCon button{
         height: 40px;
         width: 110px;
         font-size: .8rem;
    }
  }

/*Adjust page for mobile view*/
@media only screen and (max-width: 700px) {
    .allRoomsAndSearchCon{
        width: 100%;
    }    
  }