.roomMemberCon{
    width: 90%;
    height: 70px;
    border-radius: 6px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 10px;
    background-color: var(--complimentcolor);
    color: var(--textcolor2);
    font-family: sans-serif;
}

/*Adjust chat page for smaller screen*/
@media only screen and (max-width: 1300px) {
    .roomMemberCon{
        font-size: 1rem;
    }
  }

  /*Adjust chat page for smaller screen*/
@media only screen and (max-width: 1000px) {
    .roomMemberCon{
        font-size: .7rem;
    }
  }

    /*Adjust chat page for smaller screen*/
@media only screen and (max-width: 700px) {
    .roomMemberCon{
        font-size: 1.3rem;
    }
  }
